@model List<WebAppQueryModel>

<section class="game">
    <div class="container">
        <div class="content">
            <div class="section_title">
                <h3>بازی ها</h3>
            </div>
            <div class="slider">
                <div class="swiper-container game_slider">
                    <div class="swiper-wrapper">
                        @foreach (var game in Model)
                        {
                            <div class="swiper-slide">
                                <div class="item">
                                    <a asp-action="Single" asp-route-id="@game.Id" class="pic">
                                        <img src="/lib/Photos/@game.Picture" alt="@game.Name" />
                                    </a>
                                    <h4>
                                        <a asp-action="Single" asp-route-id="@game.Id">@game.Name</a>
                                    </h4>
                                    <h6>@game.Description ...</h6>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="swiper-button-next-game_slider slider_arrow_next">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="8.691"
                         height="14.667"
                         viewBox="0 0 8.691 14.667">
                        <g id="next" transform="translate(7.691 13.667) rotate(180)">
                            <g id="Path_97"
                               data-name="Path 97"
                               transform="translate(0)"
                               fill="#7140e0">
                                <path d="M 0.3577101826667786 13.16708946228027 C 0.1332801878452301 13.16708946228027 -0.08750981092453003 13.07499980926514 -0.2480498105287552 12.9144401550293 C -0.4105098247528076 12.75199031829834 -0.4999898076057434 12.53639030456543 -0.4999898076057434 12.30739974975586 C -0.4999898076057434 12.07839965820313 -0.4105098247528076 11.86279964447021 -0.2480098158121109 11.70030975341797 L 5.11909008026123 6.333219528198242 L -0.248019814491272 0.9660999178886414 C -0.4105098247528076 0.8036299347877502 -0.4999898076057434 0.5880299210548401 -0.4999898076057434 0.3590399324893951 C -0.4999898076057434 0.1300399303436279 -0.4105098247528076 -0.08556006848812103 -0.2480098158121109 -0.2480500638484955 C -0.085539810359478 -0.4105100631713867 0.1300501972436905 -0.5000000596046448 0.3590402007102966 -0.5000000596046448 C 0.5880202054977417 -0.5000000596046448 0.8036202192306519 -0.410520076751709 0.9661002159118652 -0.2480500638484955 L 6.941610336303711 5.727479934692383 C 7.103690147399902 5.88953971862793 7.192350387573242 6.105659961700439 7.19126033782959 6.335999965667725 C 7.190160274505615 6.566299915313721 7.09935998916626 6.781620025634766 6.935570240020752 6.942309856414795 L 0.9662304520606995 12.9116792678833 C 0.8077508211135864 13.07406520843506 0.5862977504730225 13.16708946228027 0.3577101826667786 13.16708946228027 Z"
                                      stroke="none" />
                                <path d="M 0.3590412139892578 2.86102294921875e-06 C 0.2674574851989746 2.86102294921875e-06 0.175875186920166 0.03517532348632813 0.1055302619934082 0.1055202484130859 C -0.03516960144042969 0.2462100982666016 -0.03516960144042969 0.4718503952026367 0.1055302619934082 0.6125497817993164 L 5.826189994812012 6.3332200050354 L 0.1055302619934082 12.053879737854 C -0.03516960144042969 12.19456958770752 -0.03516960144042969 12.42020988464355 0.1055302619934082 12.56091022491455 C 0.1745400428771973 12.6299295425415 0.2674603462219238 12.66708946228027 0.3577103614807129 12.66708946228027 C 0.4479703903198242 12.66708946228027 0.5408802032470703 12.6325798034668 0.6098999977111816 12.56091022491455 L 6.585410118103027 6.585400104522705 C 6.726109981536865 6.447360038757324 6.726109981536865 6.219069957733154 6.58806037902832 6.081029891967773 L 0.6125602722167969 0.1055202484130859 C 0.5422101020812988 0.03517532348632813 0.4506254196166992 2.86102294921875e-06 0.3590412139892578 2.86102294921875e-06 M 0.3590402603149414 -1 C 0.7215900421142578 -1 1.062750339508057 -0.8585100173950195 1.3196702003479 -0.6015901565551758 L 7.295170307159424 5.37391996383667 C 7.552309989929199 5.631050109863281 7.692990303039551 5.973579883575439 7.691250324249268 6.338379859924316 C 7.689531326293945 6.700725555419922 7.547377586364746 7.039884567260742 7.290846824645996 7.294183254241943 L 1.320846557617188 13.26418399810791 C 1.069015502929688 13.52041244506836 0.718785285949707 13.66708946228027 0.3577103614807129 13.66708946228027 C 0.001650333404541016 13.66708946228027 -0.3480195999145508 13.52161026000977 -0.6016297340393066 13.26797008514404 C -0.8585000038146973 13.01109027862549 -0.9999899864196777 12.66993999481201 -1 12.3073902130127 C -1 11.9448299407959 -0.858489990234375 11.60367012023926 -0.6015496253967285 11.34675025939941 L 4.411971092224121 6.3332200050354 L -0.6015796661376953 1.319660186767578 C -0.8585000038146973 1.062729835510254 -0.9999899864196777 0.7215795516967773 -1 0.3590297698974609 C -1 -0.003530502319335938 -0.858489990234375 -0.3446903228759766 -0.6015496253967285 -0.6016101837158203 C -0.3447098731994629 -0.858489990234375 -0.0035400390625 -1 0.3590402603149414 -1 Z"
                                      stroke="none"
                                      fill="#7140e0" />
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="swiper-button-prev-game_slider slider_arrow_prev">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="8.691"
                         height="14.667"
                         viewBox="0 0 8.691 14.667">
                        <g id="next" transform="translate(7.691 13.667) rotate(180)">
                            <g id="Path_97"
                               data-name="Path 97"
                               transform="translate(0)"
                               fill="#7140e0">
                                <path d="M 0.3577101826667786 13.16708946228027 C 0.1332801878452301 13.16708946228027 -0.08750981092453003 13.07499980926514 -0.2480498105287552 12.9144401550293 C -0.4105098247528076 12.75199031829834 -0.4999898076057434 12.53639030456543 -0.4999898076057434 12.30739974975586 C -0.4999898076057434 12.07839965820313 -0.4105098247528076 11.86279964447021 -0.2480098158121109 11.70030975341797 L 5.11909008026123 6.333219528198242 L -0.248019814491272 0.9660999178886414 C -0.4105098247528076 0.8036299347877502 -0.4999898076057434 0.5880299210548401 -0.4999898076057434 0.3590399324893951 C -0.4999898076057434 0.1300399303436279 -0.4105098247528076 -0.08556006848812103 -0.2480098158121109 -0.2480500638484955 C -0.085539810359478 -0.4105100631713867 0.1300501972436905 -0.5000000596046448 0.3590402007102966 -0.5000000596046448 C 0.5880202054977417 -0.5000000596046448 0.8036202192306519 -0.410520076751709 0.9661002159118652 -0.2480500638484955 L 6.941610336303711 5.727479934692383 C 7.103690147399902 5.88953971862793 7.192350387573242 6.105659961700439 7.19126033782959 6.335999965667725 C 7.190160274505615 6.566299915313721 7.09935998916626 6.781620025634766 6.935570240020752 6.942309856414795 L 0.9662304520606995 12.9116792678833 C 0.8077508211135864 13.07406520843506 0.5862977504730225 13.16708946228027 0.3577101826667786 13.16708946228027 Z"
                                      stroke="none" />
                                <path d="M 0.3590412139892578 2.86102294921875e-06 C 0.2674574851989746 2.86102294921875e-06 0.175875186920166 0.03517532348632813 0.1055302619934082 0.1055202484130859 C -0.03516960144042969 0.2462100982666016 -0.03516960144042969 0.4718503952026367 0.1055302619934082 0.6125497817993164 L 5.826189994812012 6.3332200050354 L 0.1055302619934082 12.053879737854 C -0.03516960144042969 12.19456958770752 -0.03516960144042969 12.42020988464355 0.1055302619934082 12.56091022491455 C 0.1745400428771973 12.6299295425415 0.2674603462219238 12.66708946228027 0.3577103614807129 12.66708946228027 C 0.4479703903198242 12.66708946228027 0.5408802032470703 12.6325798034668 0.6098999977111816 12.56091022491455 L 6.585410118103027 6.585400104522705 C 6.726109981536865 6.447360038757324 6.726109981536865 6.219069957733154 6.58806037902832 6.081029891967773 L 0.6125602722167969 0.1055202484130859 C 0.5422101020812988 0.03517532348632813 0.4506254196166992 2.86102294921875e-06 0.3590412139892578 2.86102294921875e-06 M 0.3590402603149414 -1 C 0.7215900421142578 -1 1.062750339508057 -0.8585100173950195 1.3196702003479 -0.6015901565551758 L 7.295170307159424 5.37391996383667 C 7.552309989929199 5.631050109863281 7.692990303039551 5.973579883575439 7.691250324249268 6.338379859924316 C 7.689531326293945 6.700725555419922 7.547377586364746 7.039884567260742 7.290846824645996 7.294183254241943 L 1.320846557617188 13.26418399810791 C 1.069015502929688 13.52041244506836 0.718785285949707 13.66708946228027 0.3577103614807129 13.66708946228027 C 0.001650333404541016 13.66708946228027 -0.3480195999145508 13.52161026000977 -0.6016297340393066 13.26797008514404 C -0.8585000038146973 13.01109027862549 -0.9999899864196777 12.66993999481201 -1 12.3073902130127 C -1 11.9448299407959 -0.858489990234375 11.60367012023926 -0.6015496253967285 11.34675025939941 L 4.411971092224121 6.3332200050354 L -0.6015796661376953 1.319660186767578 C -0.8585000038146973 1.062729835510254 -0.9999899864196777 0.7215795516967773 -1 0.3590297698974609 C -1 -0.003530502319335938 -0.858489990234375 -0.3446903228759766 -0.6015496253967285 -0.6016101837158203 C -0.3447098731994629 -0.858489990234375 -0.0035400390625 -1 0.3590402603149414 -1 Z"
                                      stroke="none"
                                      fill="#7140e0" />
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>