@model WebAppQueryModel

<section class="top__header">
    <div class="container">
        <div class="content">
            <div class="right">
                <div class="photo_item">
                    <img src="/lib/Photos/@Model.Icon" alt="@Model.Name" />
                </div>
                <div class="text_item">
                    <div class="title">
                        <h2>@Model.Name</h2>
                        <div class="icon">
                            <button type="button"
                                    class="btn btn-primary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">
                                <svg id="share_4_"
                                     data-name="share (4)"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="20.649"
                                     height="22.851"
                                     viewBox="0 0 20.649 22.851">
                                    <g id="Group_80"
                                       data-name="Group 80"
                                       transform="translate(0 0)">
                                        <path id="Path_263"
                                              data-name="Path 263"
                                              d="M37.687,16.164a3.328,3.328,0,0,0-2.254.883L27.26,12.281a3.174,3.174,0,0,0,0-1.606l8.087-4.721a3.434,3.434,0,1,0-1.1-2.512,3.386,3.386,0,0,0,.1.8L26.262,8.966a3.441,3.441,0,1,0,0,5.025l8.173,4.766a3.246,3.246,0,0,0-.092.751,3.344,3.344,0,1,0,3.344-3.344Z"
                                              transform="translate(-20.48 -0.001)"
                                              fill="#7140e0" />
                                    </g>
                                </svg>
                            </button>
                            <svg id="bookmark_2_"
                                 data-name="bookmark (2)"
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="17.773"
                                 height="22.851"
                                 viewBox="0 0 17.773 22.851">
                                <g id="Group_79"
                                   data-name="Group 79"
                                   transform="translate(0)">
                                    <path id="Path_262"
                                          data-name="Path 262"
                                          d="M57.9,0h-12.7A2.528,2.528,0,0,0,42.68,2.539l-.013,20.312,8.887-3.809,8.887,3.809V2.539A2.538,2.538,0,0,0,57.9,0Zm0,19.043-6.348-2.761-6.348,2.761V2.539H57.9v16.5Z"
                                          transform="translate(-42.667)"
                                          fill="#7140e0" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <span>
                        دسته‌بندی:
                        <small> @Model.Category </small>
                    </span>
                    <span>
                        تعداد دریافت:
                        <small> @Model.Installed </small>
                    </span>
                </div>
            </div>
            <div class="left">
                <a asp-action="Install" asp-route-id="@Model.Id"> دریافت </a>
                <span>
                    ۳.۷
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20.715"
                         height="19.761"
                         viewBox="0 0 20.715 19.761">
                        <g id="star_icon" transform="translate(0)">
                            <g id="Group_81"
                               data-name="Group 81"
                               transform="translate(0 0)">
                                <path id="Path_264"
                                      data-name="Path 264"
                                      d="M20.685,19.3a.607.607,0,0,0-.49-.413l-6.422-.933L10.9,12.134a.607.607,0,0,0-1.088,0L6.941,17.953.52,18.887a.607.607,0,0,0-.336,1.035l4.647,4.53-1.1,6.4a.607.607,0,0,0,.881.64l5.744-3.02,5.744,3.02a.607.607,0,0,0,.881-.64l-1.1-6.4,4.647-4.53A.607.607,0,0,0,20.685,19.3Z"
                                      transform="translate(0 -11.796)"
                                      fill="#7140e0" />
                            </g>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
    </div>
</section>

<section class="slider__page">
    <div class="container">
        <div class="content">
            <div class="swiper-container mySwiper">
                <div class="swiper-wrapper">
                    @foreach (var picture in Model.Pictures)
                    {
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="/lib/Photos/@picture.Picture" alt="" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="arrow">
        <div id="nextright">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="8.691"
                 height="14.667"
                 viewBox="0 0 8.691 14.667">
                <g id="nextright" transform="translate(1 1)">
                    <g id="Path_97"
                       data-name="Path 97"
                       transform="translate(0)"
                       fill="#7140e0">
                        <path d="M 0.3577101826667786 13.16708946228027 C 0.1332801878452301 13.16708946228027 -0.08750981092453003 13.07499980926514 -0.2480498105287552 12.9144401550293 C -0.4105098247528076 12.75199031829834 -0.4999898076057434 12.53639030456543 -0.4999898076057434 12.30739974975586 C -0.4999898076057434 12.07839965820313 -0.4105098247528076 11.86279964447021 -0.2480098158121109 11.70030975341797 L 5.11909008026123 6.333219528198242 L -0.248019814491272 0.9660999178886414 C -0.4105098247528076 0.8036299347877502 -0.4999898076057434 0.5880299210548401 -0.4999898076057434 0.3590399324893951 C -0.4999898076057434 0.1300399303436279 -0.4105098247528076 -0.08556006848812103 -0.2480098158121109 -0.2480500638484955 C -0.085539810359478 -0.4105100631713867 0.1300501972436905 -0.5000000596046448 0.3590402007102966 -0.5000000596046448 C 0.5880202054977417 -0.5000000596046448 0.8036202192306519 -0.410520076751709 0.9661002159118652 -0.2480500638484955 L 6.941610336303711 5.727479934692383 C 7.103690147399902 5.88953971862793 7.192350387573242 6.105659961700439 7.19126033782959 6.335999965667725 C 7.190160274505615 6.566299915313721 7.09935998916626 6.781620025634766 6.935570240020752 6.942309856414795 L 0.9662304520606995 12.9116792678833 C 0.8077508211135864 13.07406520843506 0.5862977504730225 13.16708946228027 0.3577101826667786 13.16708946228027 Z"
                              stroke="none" />
                        <path d="M 0.3590412139892578 2.86102294921875e-06 C 0.2674574851989746 2.86102294921875e-06 0.175875186920166 0.03517532348632813 0.1055302619934082 0.1055202484130859 C -0.03516960144042969 0.2462100982666016 -0.03516960144042969 0.4718503952026367 0.1055302619934082 0.6125497817993164 L 5.826189994812012 6.3332200050354 L 0.1055302619934082 12.053879737854 C -0.03516960144042969 12.19456958770752 -0.03516960144042969 12.42020988464355 0.1055302619934082 12.56091022491455 C 0.1745400428771973 12.6299295425415 0.2674603462219238 12.66708946228027 0.3577103614807129 12.66708946228027 C 0.4479703903198242 12.66708946228027 0.5408802032470703 12.6325798034668 0.6098999977111816 12.56091022491455 L 6.585410118103027 6.585400104522705 C 6.726109981536865 6.447360038757324 6.726109981536865 6.219069957733154 6.58806037902832 6.081029891967773 L 0.6125602722167969 0.1055202484130859 C 0.5422101020812988 0.03517532348632813 0.4506254196166992 2.86102294921875e-06 0.3590412139892578 2.86102294921875e-06 M 0.3590402603149414 -1 C 0.7215900421142578 -1 1.062750339508057 -0.8585100173950195 1.3196702003479 -0.6015901565551758 L 7.295170307159424 5.37391996383667 C 7.552309989929199 5.631050109863281 7.692990303039551 5.973579883575439 7.691250324249268 6.338379859924316 C 7.689531326293945 6.700725555419922 7.547377586364746 7.039884567260742 7.290846824645996 7.294183254241943 L 1.320846557617188 13.26418399810791 C 1.069015502929688 13.52041244506836 0.718785285949707 13.66708946228027 0.3577103614807129 13.66708946228027 C 0.001650333404541016 13.66708946228027 -0.3480195999145508 13.52161026000977 -0.6016297340393066 13.26797008514404 C -0.8585000038146973 13.01109027862549 -0.9999899864196777 12.66993999481201 -1 12.3073902130127 C -1 11.9448299407959 -0.858489990234375 11.60367012023926 -0.6015496253967285 11.34675025939941 L 4.411971092224121 6.3332200050354 L -0.6015796661376953 1.319660186767578 C -0.8585000038146973 1.062729835510254 -0.9999899864196777 0.7215795516967773 -1 0.3590297698974609 C -1 -0.003530502319335938 -0.858489990234375 -0.3446903228759766 -0.6015496253967285 -0.6016101837158203 C -0.3447098731994629 -0.858489990234375 -0.0035400390625 -1 0.3590402603149414 -1 Z"
                              stroke="none"
                              fill="#7140e0" />
                    </g>
                </g>
            </svg>
        </div>
        <div id="nextleft">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="8.946"
                 height="14.817"
                 viewBox="0 0 8.946 14.817">
                <g id="nextleft"
                   transform="matrix(-1, -0.017, 0.017, -1, 7.708, 13.799)">
                    <g id="Path_97"
                       data-name="Path 97"
                       transform="translate(0)"
                       fill="#7140e0">
                        <path d="M 0.3577101826667786 13.16708946228027 C 0.1332801878452301 13.16708946228027 -0.08750981092453003 13.07499980926514 -0.2480498105287552 12.9144401550293 C -0.4105098247528076 12.75199031829834 -0.4999898076057434 12.53639030456543 -0.4999898076057434 12.30739974975586 C -0.4999898076057434 12.07839965820313 -0.4105098247528076 11.86279964447021 -0.2480098158121109 11.70030975341797 L 5.11909008026123 6.333219528198242 L -0.248019814491272 0.9660999178886414 C -0.4105098247528076 0.8036299347877502 -0.4999898076057434 0.5880299210548401 -0.4999898076057434 0.3590399324893951 C -0.4999898076057434 0.1300399303436279 -0.4105098247528076 -0.08556006848812103 -0.2480098158121109 -0.2480500638484955 C -0.085539810359478 -0.4105100631713867 0.1300501972436905 -0.5000000596046448 0.3590402007102966 -0.5000000596046448 C 0.5880202054977417 -0.5000000596046448 0.8036202192306519 -0.410520076751709 0.9661002159118652 -0.2480500638484955 L 6.941610336303711 5.727479934692383 C 7.103690147399902 5.88953971862793 7.192350387573242 6.105659961700439 7.19126033782959 6.335999965667725 C 7.190160274505615 6.566299915313721 7.09935998916626 6.781620025634766 6.935570240020752 6.942309856414795 L 0.9662304520606995 12.9116792678833 C 0.8077508211135864 13.07406520843506 0.5862977504730225 13.16708946228027 0.3577101826667786 13.16708946228027 Z"
                              stroke="none" />
                        <path d="M 0.3590412139892578 2.86102294921875e-06 C 0.2674574851989746 2.86102294921875e-06 0.175875186920166 0.03517532348632813 0.1055302619934082 0.1055202484130859 C -0.03516960144042969 0.2462100982666016 -0.03516960144042969 0.4718503952026367 0.1055302619934082 0.6125497817993164 L 5.826189994812012 6.3332200050354 L 0.1055302619934082 12.053879737854 C -0.03516960144042969 12.19456958770752 -0.03516960144042969 12.42020988464355 0.1055302619934082 12.56091022491455 C 0.1745400428771973 12.6299295425415 0.2674603462219238 12.66708946228027 0.3577103614807129 12.66708946228027 C 0.4479703903198242 12.66708946228027 0.5408802032470703 12.6325798034668 0.6098999977111816 12.56091022491455 L 6.585410118103027 6.585400104522705 C 6.726109981536865 6.447360038757324 6.726109981536865 6.219069957733154 6.58806037902832 6.081029891967773 L 0.6125602722167969 0.1055202484130859 C 0.5422101020812988 0.03517532348632813 0.4506254196166992 2.86102294921875e-06 0.3590412139892578 2.86102294921875e-06 M 0.3590402603149414 -1 C 0.7215900421142578 -1 1.062750339508057 -0.8585100173950195 1.3196702003479 -0.6015901565551758 L 7.295170307159424 5.37391996383667 C 7.552309989929199 5.631050109863281 7.692990303039551 5.973579883575439 7.691250324249268 6.338379859924316 C 7.689531326293945 6.700725555419922 7.547377586364746 7.039884567260742 7.290846824645996 7.294183254241943 L 1.320846557617188 13.26418399810791 C 1.069015502929688 13.52041244506836 0.718785285949707 13.66708946228027 0.3577103614807129 13.66708946228027 C 0.001650333404541016 13.66708946228027 -0.3480195999145508 13.52161026000977 -0.6016297340393066 13.26797008514404 C -0.8585000038146973 13.01109027862549 -0.9999899864196777 12.66993999481201 -1 12.3073902130127 C -1 11.9448299407959 -0.858489990234375 11.60367012023926 -0.6015496253967285 11.34675025939941 L 4.411971092224121 6.3332200050354 L -0.6015796661376953 1.319660186767578 C -0.8585000038146973 1.062729835510254 -0.9999899864196777 0.7215795516967773 -1 0.3590297698974609 C -1 -0.003530502319335938 -0.858489990234375 -0.3446903228759766 -0.6015496253967285 -0.6016101837158203 C -0.3447098731994629 -0.858489990234375 -0.0035400390625 -1 0.3590402603149414 -1 Z"
                              stroke="none"
                              fill="#7140e0" />
                    </g>
                </g>
            </svg>
        </div>
    </div>
</section>

<section class="description">
    <div class="container">
        <div class="content">
            <div class="title">
                <h4>توضیحات</h4>
            </div>
            <div class="item_description">
                <p id="text_item">
                    @Model.Description
                </p>
                <button type="button" id="button__more">
                    بیشتر
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="7.691"
                         height="13.667"
                         viewBox="0 0 7.691 13.667">
                        <g id="next" transform="translate(7.191 13.167) rotate(180)">
                            <g id="Path_97"
                               data-name="Path 97"
                               transform="translate(0)"
                               fill="#7140e0">
                                <path d="M 0.3577101826667786 12.91708946228027 C 0.1991001963615417 12.91708946228027 0.04275019094347954 12.85169982910156 -0.07125981152057648 12.73766994476318 C -0.1865098029375076 12.62242984771729 -0.2499898076057434 12.4696102142334 -0.2499898076057434 12.30739974975586 C -0.2499898076057434 12.14517974853516 -0.1865098029375076 11.99236011505127 -0.07123980671167374 11.87709999084473 L 5.472630500793457 6.3332200050354 L -0.07124981284141541 0.7893299460411072 C -0.1865098029375076 0.6740699410438538 -0.2499898076057434 0.5212499499320984 -0.2499898076057434 0.3590399324893951 C -0.2499898076057434 0.196819931268692 -0.1865098029375076 0.04399992898106575 -0.07123980671167374 -0.07126007229089737 C 0.04402019083499908 -0.1865200698375702 0.1968301832675934 -0.2500000596046448 0.3590402007102966 -0.2500000596046448 C 0.5212501883506775 -0.2500000596046448 0.6740601658821106 -0.1865200698375702 0.7893301844596863 -0.07126007229089737 L 6.764840126037598 5.904250144958496 C 6.879380226135254 6.018789768218994 6.942039966583252 6.171700000762939 6.94126033782959 6.33480978012085 C 6.940490245819092 6.497879981994629 6.876290321350098 6.65024995803833 6.760490417480469 6.763859748840332 L 0.7866801619529724 12.73768997192383 C 0.6781201958656311 12.85048007965088 0.5205702185630798 12.91708946228027 0.3577101826667786 12.91708946228027 Z"
                                      stroke="none" />
                                <path d="M 0.3590412139892578 2.86102294921875e-06 C 0.2674574851989746 2.86102294921875e-06 0.175875186920166 0.03517532348632813 0.1055302619934082 0.1055202484130859 C -0.03516960144042969 0.2462100982666016 -0.03516960144042969 0.4718503952026367 0.1055302619934082 0.6125497817993164 L 5.826189994812012 6.3332200050354 L 0.1055302619934082 12.053879737854 C -0.03516960144042969 12.19456958770752 -0.03516960144042969 12.42020988464355 0.1055302619934082 12.56091022491455 C 0.1745400428771973 12.6299295425415 0.2674603462219238 12.66708946228027 0.3577103614807129 12.66708946228027 C 0.4479703903198242 12.66708946228027 0.5408802032470703 12.6325798034668 0.6098999977111816 12.56091022491455 L 6.585410118103027 6.585400104522705 C 6.726109981536865 6.447360038757324 6.726109981536865 6.219069957733154 6.58806037902832 6.081029891967773 L 0.6125602722167969 0.1055202484130859 C 0.5422101020812988 0.03517532348632813 0.4506254196166992 2.86102294921875e-06 0.3590412139892578 2.86102294921875e-06 M 0.3590402603149414 -0.5 C 0.5880303382873535 -0.5 0.8036303520202637 -0.4105195999145508 0.9661102294921875 -0.2480297088623047 L 6.941610336303711 5.727479934692383 C 7.103690147399902 5.88953971862793 7.192350387573242 6.105659961700439 7.19126033782959 6.335999965667725 C 7.190160274505615 6.566299915313721 7.09935998916626 6.781620025634766 6.935570240020752 6.942309856414795 L 0.9662303924560547 12.9116792678833 C 0.8077507019042969 13.07406520843506 0.5862979888916016 13.16708946228027 0.3577103614807129 13.16708946228027 C 0.1332802772521973 13.16708946228027 -0.0875096321105957 13.07499980926514 -0.2480497360229492 12.9144401550293 C -0.4105095863342285 12.75197982788086 -0.5 12.53637981414795 -0.5 12.3073902130127 C -0.5 12.07839012145996 -0.4105095863342285 11.86279964447021 -0.2480096817016602 11.70030975341797 L 5.11909008026123 6.333219528198242 L -0.2480196952819824 0.966099739074707 C -0.4105095863342285 0.8036203384399414 -0.5 0.5880203247070313 -0.5 0.3590297698974609 C -0.5 0.1300296783447266 -0.4105095863342285 -0.08555984497070313 -0.2480096817016602 -0.2480497360229492 C -0.08556985855102539 -0.4105100631713867 0.1300301551818848 -0.5 0.3590402603149414 -0.5 Z"
                                      stroke="none"
                                      fill="#7140e0" />
                            </g>
                        </g>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="form__page">
    <div class="container">
        <div class="content">
            <h4>اگر صاحب این وب اپلیکیشن هستیدشماره خود را وارد کنید</h4>
            <form class="form_item">
                <input type="text"
                       name="phone_number"
                       id="phone_number_input"
                       placeholder="شماره تلفن خود را وارد کنید" />
                <br />
                <textarea name="topic"
                          id="topic_textarea"
                          placeholder="موضوع"></textarea>
                <br />
                <button type="button">ارسال</button>
            </form>
        </div>
    </div>
</section>

<section class="comment__page">
    <div class="container">
        <div class="content">
            <div class="title">
                <h4>دیدگاه (@Model.CommentCount)</h4>
            </div>
            <div class="items">
                @foreach (var comment in Model.Comments)
                {
                    <div class="item">
                        <div class="title__item">
                            <div class="right">
                                <h5>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                     width="15.656"
                                     height="18.316"
                                     viewBox="0 0 15.656 18.316">
                                        <g id="avatar" transform="translate(0.251 0.25)">
                                            <g id="Group_512" data-name="Group 512">
                                                <path id="Path_587"
                                                  data-name="Path 587"
                                                  d="M140.868,9.6h.118a3.4,3.4,0,0,0,2.6-1.125c1.42-1.6,1.184-4.346,1.158-4.608A3.764,3.764,0,0,0,142.956.52,4.1,4.1,0,0,0,140.971,0h-.063a4.108,4.108,0,0,0-1.985.505,3.766,3.766,0,0,0-1.811,3.361c-.026.262-.262,3.007,1.158,4.608A3.391,3.391,0,0,0,140.868,9.6ZM138.1,3.959c0-.011,0-.022,0-.03.122-2.645,2-2.929,2.8-2.929h.044c1,.022,2.69.428,2.8,2.929a.072.072,0,0,0,0,.03c0,.026.262,2.535-.911,3.855a2.418,2.418,0,0,1-1.9.79h-.037a2.41,2.41,0,0,1-1.9-.79C137.842,6.5,138.093,3.981,138.1,3.959Z"
                                                  transform="translate(-133.355)"
                                                  fill="#744cc7"
                                                  stroke="#744cc7"
                                                  stroke-width="0.5" />
                                                <path id="Path_588"
                                                  data-name="Path 588"
                                                  d="M51.226,263.832v-.011c0-.03,0-.059,0-.092-.022-.73-.07-2.439-1.671-2.985l-.037-.011a10.647,10.647,0,0,1-3.062-1.395.5.5,0,1,0-.572.815,11.491,11.491,0,0,0,3.368,1.538c.86.306.956,1.225.981,2.066a.741.741,0,0,0,0,.092,6.7,6.7,0,0,1-.077,1.14,13.577,13.577,0,0,1-6.5,1.513,13.656,13.656,0,0,1-6.508-1.516,6.34,6.34,0,0,1-.077-1.14c0-.03,0-.059,0-.092.026-.841.122-1.76.981-2.066a11.6,11.6,0,0,0,3.368-1.538.5.5,0,0,0-.572-.815,10.527,10.527,0,0,1-3.062,1.395l-.037.011c-1.6.55-1.649,2.258-1.671,2.985a.741.741,0,0,1,0,.092v.011a5.657,5.657,0,0,0,.188,1.671.474.474,0,0,0,.192.232,13.955,13.955,0,0,0,7.2,1.764,14,14,0,0,0,7.2-1.764.494.494,0,0,0,.192-.232A5.936,5.936,0,0,0,51.226,263.832Z"
                                                  transform="translate(-36.073 -249.68)"
                                                  fill="#744cc7"
                                                  stroke="#744cc7"
                                                  stroke-width="0.5" />
                                            </g>
                                        </g>
                                    </svg>

                                    @comment.UserName
                                </h5>
                                <span>
                                    @comment.Like
                                    <svg id="star"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="13.17"
                                     height="12.564"
                                     viewBox="0 0 13.17 12.564">
                                        <g id="Group_81"
                                       data-name="Group 81"
                                       transform="translate(0 0)">
                                            <path id="Path_264"
                                              data-name="Path 264"
                                              d="M13.152,16.567a.386.386,0,0,0-.311-.263l-4.083-.593-1.826-3.7a.386.386,0,0,0-.692,0l-1.826,3.7L.33,16.3a.386.386,0,0,0-.214.658l2.954,2.88-.7,4.066a.386.386,0,0,0,.56.407L6.585,22.4l3.652,1.92a.386.386,0,0,0,.56-.407l-.7-4.066,2.955-2.88A.386.386,0,0,0,13.152,16.567Z"
                                              transform="translate(0 -11.796)"
                                              fill="#7140e0" />
                                        </g>
                                    </svg>
                                </span>
                            </div>
                            <div class="left">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                     width="17.48"
                                     height="17.877"
                                     viewBox="0 0 17.48 17.877">
                                        <g id="calendar" opacity="0.35">
                                            <g id="Group_2228" data-name="Group 2228">
                                                <path id="Path_26017"
                                                  data-name="Path 26017"
                                                  d="M119.262,258.647a.406.406,0,0,0-.406-.405h-1.416a.406.406,0,0,0-.406.405v1.416a.406.406,0,0,0,.406.406h1.416a.406.406,0,0,0,.406-.406v-1.416Z"
                                                  transform="translate(-112.947 -248.785)"
                                                  fill="#a5a5a5" />
                                                <path id="Path_26018"
                                                  data-name="Path 26018"
                                                  d="M215.9,258.647a.405.405,0,0,0-.405-.405h-1.416a.406.406,0,0,0-.406.405v1.416a.406.406,0,0,0,.406.406h1.416a.406.406,0,0,0,.405-.406Z"
                                                  transform="translate(-206.043 -248.785)"
                                                  fill="#a5a5a5" />
                                                <path id="Path_26019"
                                                  data-name="Path 26019"
                                                  d="M312.525,258.647a.406.406,0,0,0-.406-.405H310.7a.406.406,0,0,0-.406.405v1.416a.406.406,0,0,0,.406.406h1.416a.406.406,0,0,0,.406-.406Z"
                                                  transform="translate(-299.133 -248.785)"
                                                  fill="#a5a5a5" />
                                                <path id="Path_26020"
                                                  data-name="Path 26020"
                                                  d="M119.262,355.281a.405.405,0,0,0-.406-.406h-1.416a.405.405,0,0,0-.406.406V356.7a.406.406,0,0,0,.406.406h1.416a.406.406,0,0,0,.406-.406v-1.416Z"
                                                  transform="translate(-112.947 -341.879)"
                                                  fill="#a5a5a5" />
                                                <path id="Path_26021"
                                                  data-name="Path 26021"
                                                  d="M215.9,355.281a.405.405,0,0,0-.405-.406h-1.416a.405.405,0,0,0-.406.406V356.7a.406.406,0,0,0,.406.406h1.416a.405.405,0,0,0,.405-.406Z"
                                                  transform="translate(-206.043 -341.879)"
                                                  fill="#a5a5a5" />
                                                <path id="Path_26022"
                                                  data-name="Path 26022"
                                                  d="M312.525,355.281a.405.405,0,0,0-.405-.406H310.7a.405.405,0,0,0-.406.406V356.7a.406.406,0,0,0,.406.406h1.416a.405.405,0,0,0,.405-.406v-1.416Z"
                                                  transform="translate(-299.133 -341.879)"
                                                  fill="#a5a5a5" />
                                                <path id="Path_26023"
                                                  data-name="Path 26023"
                                                  d="M21.335,54.15v2.162a1.766,1.766,0,0,1-1.77,1.765H18.448a1.775,1.775,0,0,1-1.781-1.765v-2.17H11.635v2.17a1.775,1.775,0,0,1-1.781,1.765H8.737a1.766,1.766,0,0,1-1.77-1.765V54.15a1.61,1.61,0,0,0-1.556,1.6V68.424a1.61,1.61,0,0,0,1.6,1.612H21.289a1.612,1.612,0,0,0,1.6-1.612V55.751A1.61,1.61,0,0,0,21.335,54.15Zm-.519,13.485a.693.693,0,0,1-.693.693H8.148a.693.693,0,0,1-.693-.693V61.089a.693.693,0,0,1,.693-.693H20.124a.693.693,0,0,1,.693.693v6.546Z"
                                                  transform="translate(-5.411 -52.159)"
                                                  fill="#a5a5a5" />
                                                <path id="Path_26024"
                                                  data-name="Path 26024"
                                                  d="M80.157,4.759h1.1a.607.607,0,0,0,.607-.607V.607A.607.607,0,0,0,81.262,0h-1.1a.607.607,0,0,0-.607.607V4.152A.607.607,0,0,0,80.157,4.759Z"
                                                  transform="translate(-76.835)"
                                                  fill="#a5a5a5" />
                                                <path id="Path_26025"
                                                  data-name="Path 26025"
                                                  d="M345.065,4.759h1.1a.607.607,0,0,0,.607-.607V.607A.607.607,0,0,0,346.17,0h-1.1a.607.607,0,0,0-.607.607V4.152A.607.607,0,0,0,345.065,4.759Z"
                                                  transform="translate(-332.042)"
                                                  fill="#a5a5a5" />
                                            </g>
                                        </g>
                                    </svg>

                                    @comment.CreationDate
                                </span>
                            </div>
                        </div>
                        <div class="text__item">
                            <div class="photo">
                                <img src="/lib/Photos/@comment.UserIcon" alt="" />
                            </div>
                            <p>
                                @comment.Description
                            </p>
                        </div>
                        <span>
                            <svg id="error"
                             xmlns="http://www.w3.org/2000/svg"
                             width="16.164"
                             height="16.164"
                             viewBox="0 0 16.164 16.164">
                                <path id="Path_54"
                                  data-name="Path 54"
                                  d="M16.025,4.6,11.568.139A.474.474,0,0,0,11.233,0H4.93A.474.474,0,0,0,4.6.139L.139,4.6A.474.474,0,0,0,0,4.93v6.3a.474.474,0,0,0,.139.335L4.6,16.025a.474.474,0,0,0,.335.139h6.3a.474.474,0,0,0,.335-.139l4.457-4.457a.474.474,0,0,0,.139-.335V4.93A.473.473,0,0,0,16.025,4.6Zm-7.943,8.7a1.421,1.421,0,0,1-1.419-1.419v0a1.419,1.419,0,1,1,1.419,1.422ZM9.659,3.386,9.184,9.069a.474.474,0,0,1-.472.434H7.452a.474.474,0,0,1-.472-.434L6.505,3.386a.474.474,0,0,1,.472-.513h2.21A.474.474,0,0,1,9.659,3.386Z"
                                  transform="translate(0 0)"
                                  fill="#a5a5a5" />
                            </svg>

                            گزارش تخلف
                        </span>
                    </div>
                }
            </div>
        </div>
        <partial name="Partials/_AddCommentPartial" model="Model.Comment" />
    </div>
</section>

@await Component.InvokeAsync("RelatedWebApp", Model.Id)

<!-- Modal -->
<div class="modal fade"
     id="staticBackdrop"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">اشتراک گذاری</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <a href="#">
                    <svg enable-background="new 0 0 24 24"
                         width="27.215"
                         height="27.345"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" fill="#039be5" r="12" />
                        <path d="m5.491 11.74 11.57-4.461c.537-.194 1.006.131.832.943l.001-.001-1.97 9.281c-.146.658-.537.818-1.084.508l-3-2.211-1.447 1.394c-.16.16-.295.295-.605.295l.213-3.053 5.56-5.023c.242-.213-.054-.333-.373-.121l-6.871 4.326-2.962-.924c-.643-.204-.657-.643.136-.953z"
                              fill="#fff" />
                    </svg>
                    تلگرام
                </a>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="27.216"
                         height="27.34"
                         viewBox="0 0 27.216 27.34">
                        <path id="whatsapp"
                              d="M23.5,3.974A13.554,13.554,0,0,0,2.172,20.324L.25,27.346l7.183-1.884a13.536,13.536,0,0,0,6.475,1.649h.006A13.556,13.556,0,0,0,23.5,3.974ZM13.914,24.822h0a11.249,11.249,0,0,1-5.732-1.57l-.411-.244L3.5,24.126,4.641,19.97l-.268-.426a11.263,11.263,0,1,1,9.541,5.278Zm6.178-8.435c-.338-.17-2-.988-2.314-1.1s-.536-.169-.762.17-.875,1.1-1.072,1.327-.4.254-.734.085a9.248,9.248,0,0,1-2.723-1.681A10.213,10.213,0,0,1,10.6,12.841c-.2-.339,0-.5.149-.691a9.578,9.578,0,0,0,.846-1.158.623.623,0,0,0-.028-.593c-.084-.169-.762-1.836-1.044-2.514-.275-.66-.554-.571-.762-.581s-.423-.012-.649-.012a1.244,1.244,0,0,0-.9.424A3.8,3.8,0,0,0,7.029,10.54a6.586,6.586,0,0,0,1.382,3.5A15.092,15.092,0,0,0,14.2,19.155a19.38,19.38,0,0,0,1.93.713A4.642,4.642,0,0,0,18.258,20a3.488,3.488,0,0,0,2.285-1.61,2.829,2.829,0,0,0,.2-1.61c-.087-.139-.312-.223-.651-.393Zm0,0"
                              transform="translate(-0.25 -0.006)"
                              fill="#3de643"
                              fill-rule="evenodd" />
                    </svg>
                    <span class="text-success"> واتساپ </span>
                </a>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    بستن
                </button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
<script src="/Main/js/app.js"></script>
<script src="/Main/lib/jquery/dist/jquery.min.js"></script>
<script src="/Main/lib/SVG-Based-Star-Rating-Plugin-For-jQuery-star-rating-svg-js/dist/jquery.star-rating-svg.min.js"></script>
}
