@model IEnumerable<Pwa.Application.Contracts.Product.WebApplication.WebApplicationDto>

@{
    ViewData["Title"] = "وب اپلیکیشن";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">ایجاد وب اپلیکیشن</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebSiteAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeAdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <th>
                    <img src="/lib/Photos/@item.Icon" alt="آیکون" />
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="max-width:300px">
                    @item.Description.Substring(1, 100) ...
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebSiteAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeAdd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    <a class="btn btn-warning" asp-controller="WebApp" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                    <a class="btn btn-info" asp-controller="WebApp" asp-action="Detail" asp-route-id="@item.Id">جزیات</a> |
                    <a class="btn btn-danger" asp-controller="WebApp" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
